BODY,TD,input,DIV,form,TEXTAREA,center,pre,blockquote {font-size:9pt;font-family:굴림;color:000000}

select,option {font-size:9pt;font-family:tahoma;color:000000;background-color:B4D2DE}

TD {line-height:140%}

BODY    { 		scrollbar-face-color: #e8e8e8; 
			scrollbar-shadow-color: #E7E7E7;
			scrollbar-highlight-color: #FFFFFF;
			scrollbar-3dlight-color: #e8e8e8;
			scrollbar-darkshadow-color:#BDBDBD;
			scrollbar-track-color:#f1f1f1;
			scrollbar-arrow-color: #31B5F7
		}

A:link    {color:000000;text-decoration:none;}
A:visited {color:000000;text-decoration:none;}
A:active  {color:000000;text-decoration:none;}
A:hover  {color:555555;text-decoration:underline}

.textarea {border:solid 1;border-color:347088;font-size:9pt;color:042330;background-color:white;}
.input {border:solid 1;border-color:739BAB;font-size:9pt;color:042330;background-color:white;height:19px}
.submit {border:solid 1;border-color:1F556A;font-size:9pt;color:white;background-color:1261A4;height:19px}
.button {border:solid 1;border-color:1F556A;font-size:9pt;color:white;background-color:1261A4;height:19px}

.thm7pt {font-family:tahoma;font-size:7pt}

.ment {border:1 solid; border-color:e7e7e7; background-color:fafafa; font-size:9pt; table-layout:fixed}
.ment_text {color:666666;font-size:9pt;line-height:140%;padding:10px;}

.line1 {background-color:#B4D2DE; padding:0}
.line2 {background-color:#D7EDF2; padding:0}

.title {background-image: url(list_back.gif); background-repeat-x; height:33px;}
.list0 {background-color:#E5E5E5; height:28px; font-size:9pt;}
.list1 {background-color:#E5E5E5; height:28px; font-size:9pt;}

.title_han {color:FFFFFF;font-weight:bold;font-size:9pt}
.list_han {color:000000;font-size:9pt;text-decoration:none;text-decoration:none}

.title_eng {font-family:tahoma;color:FFFFFF;font-weight:bold;font-size:8pt;text-decoration:none}
.list_eng {font-family:tahoma;color:000000;font-size:8pt;text-decoration:none}
