A:link    {color:#000000;text-decoration:none;}
A:visited {color:#000000;text-decoration:none;}
A:active  {color:#000000;text-decoration:none;}
A:hover   {color:#c0c0c0;text-decoration:none;}

BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt; font-family:굴림; color:#000000;line-height:140%}

BODY    { 		scrollbar-face-color: #e8e8e8; 
			scrollbar-shadow-color: #E7E7E7;
			scrollbar-highlight-color: #FFFFFF;
			scrollbar-3dlight-color: #e8e8e8;
			scrollbar-darkshadow-color:#BDBDBD;
			scrollbar-track-color:#f1f1f1;
			scrollbar-arrow-color: #31B5F7
		}

.seok-line {background-color:#c0c0c0; height:1;}
.seok-line_2 {background-color:#ffffff; height:2;}
.seok-td-color {background-color:#f1f1f1;}

.seok-thm8 {font-family:Tahoma;font-size:8pt;}

.seok-textarea {border:solid 1 #c0c0c0; font-family:굴림; font-size:9pt; color:000000; background-color:transparent; overflow:auto}
.seok-button {border:1 solid; border-color:#c0c0c0; background-color:#ffffff; color:#000000; font-family:tahoma;font-size:8pt; width:50; height:14; line-height:100%; cursor:hand;}
.input {border-bottom-width:1; background:transparent; font-family:굴림; font-size:9pt; color:#000000; border-bottom-color:#c0c0c0; border-top-style:none; border-right-style:none; border-bottom-style:solid; border-left-style:none;}
